@page "/products"

@inject IProductService ProductService
@inject NavigationManager NavigationManager

<PageTitle>Products</PageTitle>

<h3>Products</h3>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in ProductService.Products)
       {
           <tr>
               <td>@product.ProductName</td>
               <td>@product.Description</td>
               <td>$@product.Price</td>
               <td>
                   <button type="button" class="btn btn-primary" @onclick="(()=>ToEditProduct(product.Id))"><i class="oi oi-pencil"></i>Edit</button>
                   <button class="btn btn-danger" @onclick="(()=>DeleteProduct(product.Id))"><i class="oi oi-trash"></i>Delete</button>
               </td>
           </tr>
       }
    </tbody>
</table>
<button class="btn btn-outline-primary" @onclick="CreateNewProduct">Add A New Product</button>

@code{
    protected override async Task OnInitializedAsync()
    {
        await ProductService.GetProductList();
    }

    void ToEditProduct(int id)
    {
        NavigationManager.NavigateTo($"/product/{id}");
    }

    void CreateNewProduct()
    {
        NavigationManager.NavigateTo("/product");
    }
    async Task DeleteProduct(int id)
    {
        await ProductService.DeleteProduct(id);
    }
}